mediapipe==0.10.18
pandas==1.5.3
IPython==8.11.0
protobuf==4.25.5
tensorflow==2.18.0
opencv-python==4.7.0.72
pillow==9.4.0
pyyaml==6.0
scikit-image==0.20.0
tqdm==4.65.0
scikit-learn==1.2.2
plotly==5.14.1
matplotlib==3.7.1
ripser==0.6.4
h5py==3.11.0
